<!-- About -->
<section #hawk class="hawk about section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15">
                        <h3>I'm Huynh Ngoc Dat and <span>Web Developer</span></h3>
                        <p>Take advantages of Java, C#.Net, Angular 5, HTML, CSS skills to become a professional
                            developer and working in a young and dynamic environment. From that, I will contribute to
                            development of company</p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info padd-15">
                        <div class="row">
                            <div class="info-item padd-15">
                                <p>Birthday: <span>6 Sep 1995</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Email : <span>dathn.6995@gmail.com</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Phone : <span>(+81)08021283134</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>City : <span>Japan, Tokyo</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button padd-15">
                                <a href="https://odobagg-my.sharepoint.com/personal/ngocdatno08_od_obagg_com/_layouts/15/download.aspx?UniqueId=d3c2f446%2D78a4%2D452b%2Dbaec%2D29274a2a2b8b"
                                    target="_blank" class="btn">Download CV</a>
                            </div>
                        </div>
                    </div>
                    <div class="skills padd-15">
                        <div class="row">
                            <div class="skill-item padd-15">
                                <h5>HTML</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 80%;">
                                    </div>
                                    <div class="skill-percent">80%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>C#.Net</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 70%;">
                                    </div>
                                    <div class="skill-percent">70%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>CSS</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 80%;">
                                    </div>
                                    <div class="skill-percent">80%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Java</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 70%;">
                                    </div>
                                    <div class="skill-percent">70%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Javascript - Angular</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 80%;">
                                    </div>
                                    <div class="skill-percent">80%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>SQL Server</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 60%;">
                                    </div>
                                    <div class="skill-percent">60%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Communication</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 80%;">
                                    </div>
                                    <div class="skill-percent">80%</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Teamwork</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 80%;">
                                    </div>
                                    <div class="skill-percent">80%</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--  -->
                <div class="row">
                    <div class="education padd-15">
                        <h3 class="title">Education</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- Timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i>
                                            2013 - 2017
                                        </h6>
                                        <h4 class="timeline-title">FPT UNIVERSITY</h4>
                                        <h4 class="timeline-title">Software Engineering</h4>
                                        <p class="timeline-text">
                                            - Full time study the curriculum in English.
                                            <br>
                                            - Learned C, C++, Java & Advanced Java, C#, SQL.
                                            <br>
                                            - Group exercises and assignments.
                                            <br>
                                            - Project "Shopping Online" using .Net MVC Entity
                                            Framework.
                                            <br>
                                            - Capstone Project "sProcurement" about Web
                                            application Procurement for Small and Medium
                                            Enterprises using .Net API Entity Framework and
                                            Angular 4.</p>
                                    </div>
                                    <!-- Timeline Item End-->
                                    <!-- Timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i>
                                            2010 - 2013
                                        </h6>
                                        <h4 class="timeline-title">TRAN QUOC TUAN HIGH SCHOOL</h4>
                                        <h4 class="timeline-title">Student</h4>
                                        <p class="timeline-text">- First Prize in the School Level Informatics
                                            Contest for High School Students in 2011.</p>
                                    </div>
                                    <!-- Timeline Item End-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience padd-15">
                        <h3 class="title">Experience</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- Timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i>
                                            2018/4 - 2019/5
                                        </h6>
                                        <h4 class="timeline-title">FPT SOFTWARE VIETNAM</h4>
                                        <h4 class="timeline-title">Software Developer</h4>
                                        <p class="timeline-text">
                                            - Read and create the basic design document and detailed design document.
                                            <br>
                                            - Design new Screen.
                                            <br>
                                            - Implement new functions by frontend and backend.
                                            <br>
                                            - Fix bugs
                                            <br>
                                            - Report the progress to the team leader.
                                        </p>
                                    </div>
                                    <!-- Timeline Item End-->
                                    <!-- Timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i>
                                            2017/5 - 2017/12
                                        </h6>
                                        <h4 class="timeline-title">FPT SOFTWARE VIETNAM</h4>
                                        <h4 class="timeline-title">Software Developer Internship</h4>
                                        <p class="timeline-text">Main responsibilities:
                                            <br>
                                            + Fix bugs and implement new functions.
                                            <br>
                                            + Develop new web application.
                                            <br>
                                            + Query Stored Procedure.
                                            <br>
                                            Recognition and Gains:
                                            <br>
                                            - Develop skill .NET MVC & SQL Server.</p>
                                    </div>
                                    <!-- Timeline Item End-->
                                    <!-- Timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i>
                                            2013 - 2017
                                        </h6>
                                        <h4 class="timeline-title">TIEP LUA COMMUNITY</h4>
                                        <h4 class="timeline-title">Chairman/Team Leader</h4>
                                        <p class="timeline-text">Main responsibilities:
                                            <br>
                                            - Oct 2013 - Jan 2016: Team Leader
                                            <br>
                                            + Make plans for team's activities and events.
                                            <br>
                                            + Solving problems of organization and members.
                                            <br>
                                            - Feb 2016 - Apr 2017: Chairman
                                            <br>
                                            + Oriented activities of the organization.
                                            <br>
                                            + Build the Organizational structure.
                                            <br>
                                            Achievements and skills gained:
                                            <br>
                                            - Develop Leadership, Teamwork, Problem-Solving,
                                            Communication.</p>
                                    </div>
                                    <!-- Timeline Item End-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
</section>
<!-- About End -->
