<!-- Certification 2 -->
<section class="cert2 section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Certifications</h2>
            </div>
        </div>
        <div class="row">
            <!-- Certifications Item -->
            <div class="cert2-item padd-15">
                <div class="cert2-item-inner shadow-dark">
                    <div class="cert2-img">
                        <img width="30%" [src]="'assets/img/MCSA-Web-Applications-2018.png'" alt="MCSA">
                        <div class="cert2-date">2018-05</div>
                    </div>
                    <div class="cert2-info">
                        <h4 class="cert2-title">MCSA-Web-Applications</h4>
                        <p class="cert2-desc">Earners of the MCSA: Web Applications certification have demonstrated the
                            skills required to implement modern web apps. They are qualified for a position as a web
                            developer or web administrator.</p>
                        <p class="cert2-local">See cert: <a
                                href="https://www.youracclaim.com/badges/84f90318-c748-4576-b037-02193a3cc77c/"
                                target="_blank" rel="noopener noreferrer">
                                Microsoft
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Certifications Item End-->
            <!-- Certifications Item -->
            <div class="cert2-item padd-15">
                <div class="cert2-item-inner shadow-dark">
                    <div class="cert2-img">
                        <img width="30%" [src]="'assets/img/MCSD-App-Builder-2019.png'" alt="MCSD">
                        <div class="cert2-date">2019-01</div>
                    </div>
                    <div class="cert2-info">
                        <h4 class="cert2-title">App Builder — Certified 2019</h4>
                        <p class="cert2-desc">Earners of the MCSD: App Builder certification have demonstrated the
                            skills required to build modern mobile and/or web applications and services. Earning this
                            certification qualifies an individual for a position as an application developer.</p>
                        <p class="cert2-local">See cert: <a
                                href="https://www.youracclaim.com/badges/73ab03ba-0c2c-49af-a8ec-fbc162c2cd3f"
                                target="_blank" rel="noopener noreferrer">
                                Microsoft
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Certifications Item End-->
            <!-- Certifications Item -->
            <div class="cert2-item padd-15">
                <div class="cert2-item-inner shadow-dark">
                    <div class="cert2-img">
                        <img width="59%" [src]="'assets/img/badge-psmi.svg'" alt="PSM I">
                        <div class="cert2-date">2018-11</div>
                    </div>
                    <div class="cert2-info">
                        <h4 class="cert2-title">PSM I</h4>
                        <p class="cert2-desc">The Professional Scrum Master I (PSM I) certification demonstrates a
                            fundamental level of Scrum mastery. PSM I certificate holders prove that they understand
                            Scrum as described in the Scrum Guide and how to apply Scrum in Scrum Teams.</p>
                        <p class="cert2-local">See cert: <a href="https://www.scrum.org/certificates/363419"
                                target="_blank" rel="noopener noreferrer">
                                Srcum.org
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Certifications Item End-->
        </div>
    </div>
</section>
<!-- Certification 2 End-->
