 <!-- Home -->
 <section #hawk class="hawk home section">
    <div class="container">
        <div class="intro">
            <img class="avatar shadow-dark" [src]="'assets/img/avatar.jpg'" alt="profile">
            <h1>Huynh Ngoc Dat</h1>
            <p>Web Developer</p>
            <div class="social">
                <a href="https://www.linkedin.com/in/dat-huynh-ngoc/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Home End -->
